.vs/
out/
build/
cmake-build-debug/
/.idea
Debug/
Build/

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Executables
*.exe
*.out
*.app
*.sh

# Precompiled Headers
*.gch
*.pch

# Qt
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.user
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database 
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

#other stuff
*.mtl
*.Debug
*.Release

# MacOS spam
.DS_Store
Floof.xcodeproj/

#Visual Studio spam
.vs/*
debug/*
release/*
*_resource.rc
*.aps
*.h.cpp

#cmake
CMakefiles/
CMakeCache.txt
Floof
cmake_install.cmake
#CMakePresets.json
.cmake/

#ninja
.ninja_deps
.ninja_log
build.ninja
Testing/Temporary/

imgui.ini
Logs/
*.las